#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: none;
  }
  99% {
    fill: black;
  }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: black;
  }
}

path {
  stroke: black;
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}
